<div class="bg-white shadow overflow-hidden sm:rounded-lg">
  <div class="px-4 py-5 border-b border-gray-200 sm:px-6">
    <div class="">
        <span class="text-lg leading-6 font-medium text-gray-900 mt-5">
          Erreur de Connexion
        </span> <br>
      <span class="text-md text-gray-600">
         Impossible de contacter le Serveur, Veuillez Vérifier votre connexion internet <br>
          Les données peuvent aussi être temporairement indisponibles, actualisez la page pour recharger
          l'application.
        </span>
    </div>
  </div>
</div>
