dist: trusty
sudo: false

language: node_js
node_js:
  - '12'
  -
cache:
  directories:
    - ./node_modules

install:
  - npm install

script:
  - npm run lint
  - npm run build -- --watch=false --no-progress
