<div class="max-w-6xl mx-auto px-4 sm:px-6 mt-10">
  <app-loader *ngIf="loading"></app-loader>
  <app-error *ngIf="error"></app-error>

  <div class="w-full">
    <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
      <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
        <table class="min-w-full" *ngIf="data">
          <thead>
          <tr>
            <th
              class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Source d'information de l'application
            </th>
          </tr>
          </thead>
          <tbody class="bg-white">
          <tr *ngFor="let source of data">
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <a href="{{ source.link }}" target="_blank">
                <div class="flex items-center">
                  <div class="flex-shrink-0 h-10 w-10">
                    <img class="h-10 w-10" src="{{ source.icon }}" alt="logo"/>
                  </div>
                  <div class="ml-4">
                    <div class="text-md leading-5 font-medium text-gray-900">{{ source.name }}</div>
                  </div>
                </div>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
