<header class="bg-white shadow">
    <div class="max-w-5xl mx-auto py-4 px-4 sm:px-6 lg:px-6">
      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <h2 class="text-xl font-bold leading-tight text-gray-900">
            Covid19 {{'Info' | translate }}
          </h2>
        </div>
        <div class="-mr-2 flex">
          <a target="_blank" href="https://covid19news.devs-cast.com/app/covid-19info.apk" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white focus:outline-none">
            <img style="width: 90px" src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png" alt="i">
          </a>
        </div>
      </div>
    </div>
</header>
