<div class="max-w-6xl mx-auto px-4 sm:px-6 mt-10">
  <app-loader *ngIf="loading"></app-loader>

  <div class="bg-white shadow overflow-hidden sm:rounded-lg" *ngIf="error">
    <div class="px-4 py-5 border-b border-gray-200 sm:px-6">
      <div class="">
        <img class="h-10 w-10" src="https://www.countryflags.io/{{data.iso2}}/flat/64.png" alt="{{ data.countryRegion }}"/>
        <span class="text-lg leading-6 font-medium text-gray-900 mt-5">
          Désolé les données pour : {{data.countryRegion}} {{data.provinceState}}
        </span> <br>
        <span class="text-md text-gray-600">
          Sont temporairement indisponibles, consultez la carte ou réessayez plus tard.
        </span>
      </div>
    </div>
  </div>

  <div class="bg-white shadow overflow-hidden sm:rounded-lg" *ngIf="data">
    <div class="px-4 py-5 border-b border-gray-200 sm:px-6">
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        <img class="h-10 w-10" src="https://www.countryflags.io/{{data.iso2}}/flat/64.png" alt="i"/>
        <span>{{ data.countryRegion }} {{data.provinceState}}</span>
      </h3>
      <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-500">
        {{ data.iso2 }}
      </p>
    </div>
    <div>
      <dl>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm leading-5 font-medium text-gray-500">
            Confirmés
          </dt>
          <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
            {{ data.confirmed }}
          </dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm leading-5 font-medium text-gray-500">
            Guérisons
          </dt>
          <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
            {{ data.recovered }}
          </dd>
        </div>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm leading-5 font-medium text-gray-500">
            Morts
          </dt>
          <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
            {{ data.deaths }}
          </dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <span class="text-grey-700 text-lg font-bold">Mise à jour : {{ updatedAt }}</span> <br>
          <span class="text-gray-500 text-md">Actualisation toutes les 3 heures.</span>
        </div>
      </dl>
    </div>
  </div>
</div>
