<div class="max-w-6xl mx-auto px-4 sm:px-6 mt-10">
  <app-loader *ngIf="loading"></app-loader>
  <app-error *ngIf="error"></app-error>

  <div class="w-full" *ngIf="data">
    <div class="flex mb-6">
      <div class="mr-4">
        <label for="sort-by"></label>
        <div class="relative">
          <select [(ngModel)]="sortBy"
            class="bg-gray-200 shadow appearance-none border-2 border-gray-200 rounded pr-8 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:border-green-500"
            id="sort-by">
            <option value="">{{'Trier par' | translate}}</option>
            <option value="confirmed">{{'Confirmés' | translate}}</option>
            <option value="recovered">{{'Guérisons' | translate}}</option>
            <option value="deaths">{{'Mort' | translate}}</option>
          </select>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center my-4 px-2 text-gray-700">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
          </div>
        </div>
      </div>
      <div class="flex-1">
        <label for="inline-full-name"></label>
        <input [(ngModel)]="searchText"
          class="bg-gray-200 shadow appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-green-500"
          id="inline-full-name" placeholder="{{'rechercher un pays' | translate}}..." type="text">
      </div>
    </div>
  </div>

  <div class="w-full" *ngIf="data">
    <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
      <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
        <table class="min-w-full">
          <thead>
            <tr>
              <th
                class="px-6 py-3 border-b border-gray-200 bg-white text-left text-xs leading-4 font-medium text-gray-600 uppercase tracking-wider">
                {{'Pays' | translate}}
              </th>
              <th
                class="px-6 py-3 border-b border-gray-200 bg-white text-left text-xs leading-4 font-medium text-gray-600 uppercase tracking-wider">
                {{'Confirmés' | translate}}
              </th>
              <th
                class="px-6 py-3 border-b border-gray-200 bg-white text-left text-xs leading-4 font-medium text-gray-600 uppercase tracking-wider">
                {{'Guérisons' | translate}}
              </th>
              <th
                class="px-6 py-3 border-b border-gray-200 bg-white text-left text-xs leading-4 font-medium text-gray-600 uppercase tracking-wider">
                {{'Morts' | translate}}
              </th>
            </tr>
          </thead>
          <tbody class="bg-white">
            <tr
              *ngFor="let country of data | filter : searchText : sortBy | paginate: { itemsPerPage: 10, currentPage: currentPage }"
              routerLink="/countries/{{ country.iso2 || country.url }}" [state]="{data: {country: country}}">
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                <div class="flex items-center">
                  <div class="flex-shrink-0 h-10 w-10">
                    <img class="h-10 w-10" src="https://www.countryflags.io/{{ country.iso2 }}/flat/64.png"
                      alt="{{ country.iso2 }}" />
                  </div>
                  <div class="ml-4">
                    <div class="text-sm leading-5 font-medium text-gray-900">{{ country.countryRegion }}
                      {{ country.provinceState }}</div>
                    <div class="text-sm leading-5 text-gray-500">{{ country.iso2 }}</div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                {{ country.confirmed }}
              </td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                {{ country.recovered }}
              </td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                {{ country.deaths }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="flex py-4 bg-gray-200 rounded justify-center align-center min-w-full shadow bor text-gray-600 my-4" *ngIf="data">
      <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
  </div>
</div>
