<div class="main-content">
  <app-navbar></app-navbar>
  <app-header></app-header>

  <div class="max-w-6xl mx-auto px-4 sm:px-6 mt-10">
    <router-outlet></router-outlet>
  </div>
  <footer class='w-full text-gray-500 text-xs text-center mt-5'>
    <a href="https://devs-cast.com" target="_blank">Powered by bernard@devs-cast</a>
    <br><a href="https://www.jhu.edu/">données provenant de Johns Hopkins University</a>
    <br><a href="https://twitter.com/mathdroid" target="_blank">Api provenant de @mathdroid</a>
  </footer>
</div>
