<div class="main-content">
  <div class="flex items-center bg-blue-500 text-white text-xs font-bold px-2 py-1" role="alert">
    <div class="max-w-6xl mx-auto px-4 sm:px-6">
      <p>{{ "Plateforme officielle de l'ANNICiiS et du Ministère de la Santé" | translate }}</p>
    </div>
  </div>
  <app-navbar></app-navbar>
  <app-header></app-header>
  <router-outlet></router-outlet>

  <footer class='w-full text-gray-600 text-xs text-center mt-5 mb-5'>
    Plateform offerte par le ministère de ptntic, dans son programme CDI <br>
    Avec la participation de <a href="https://devs-cast.com" target="_blank">Devscast</a> & <a href="https://itot.africa" target="_blank">Itotafrica</a>
    en partenariat avec <a href="https://kinshasadigital.com/" target="_blank">Kinshasa Digital</a>.
  </footer>
</div>
