<div>
    <app-navbar></app-navbar>
    <app-header [title]="title"></app-header>


    <main>
        <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
            <div class="px-4 py-6 sm:px-0">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, aut vero. Nam, repellendus hic? Cumque deserunt itaque iusto, maiores nesciunt laudantium eius quo repellat minus magnam omnis dignissimos illum sint. Lorem, ipsum dolor sit amet consectetur
                adipisicing elit. Inventore blanditiis dignissimos, architecto iusto mollitia minus non officia accusantium exercitationem vitae doloremque quod expedita illum omnis eos ullam autem optio ea.

            </div>
        </div>
    </main>
</div>