.animated-digit {
  color: white;
  background: rgba(0, 0, 0, 0.2) 20%;
  text-align: center;
  border: 2px solid #e8cce9;
  margin-top:1em;
  justify-content:center;
  align-items: center;
  font-size:32pt;
}
