.dimmer {
  position: absolute;
  padding: 1em;
  top: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 1;
  animation-fill-mode: both;
  animation-duration: 0.5s;
  transition: background-color 0.5s linear;
  align-items: center;
  user-select: none;
  will-change: opacity;
  z-index: 1000;
  border-radius: 5px;
}


.primary-active {
  background-color: #14DA94;
}

.primary-bg {
  background-color: #212529;
}

.primary-hover {
  background-color: #27b286;
}

body {
  background: #e3e7ed;
}

.main-content {
  min-height: 100vh;
}

.lds-dual-ring {
  position: absolute;
  top: 40%;
  left: 45%;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
