@tailwind base;
@tailwind components;
@tailwind utilities;
.primary-active {
    background-color: #14DA94;
}

.primary-bg {
    background-color: #212529;
}

.primary-hover {
    background-color: #27b286;
}