<app-loader *ngIf="loading"></app-loader>
<app-error *ngIf="error"></app-error>

<div class="max-w-6xl mx-auto px-4 sm:px-6 mt-10">
  <div class="content-center rounded overflow-hidden shadow">
    <img class="w-full" src="https://covid19.mathdro.id/api/og" alt="Image Summary">
  </div>
</div>

<div class="grid max-w-4xl mx-auto p-8" *ngIf="data">
  <a *ngFor="let image of data" href="{{ image.link }}" target="_blank" class="bg-white rounded h-full text-grey-darkest no-underline shadow-md">
    <h1 class="text-3xl p-6">{{ image.name }}</h1>
    <img class="w-full block rounded-b" src="{{ image.link }}" alt="{{ image.name }}">
  </a>
</div>
